/*--------------------------------------
index
1. instant
2. typography
3. instant
4.mobile

2021.01.16 ver0.1
----------------------------------------*/

/* 1. total--------------------------*/

@font-face {
    font-family: "Eulyoo1945";
	  font-style: normal;
    font-weight: 300;
    src: url('font/Eulyoo1945-Regular.eot');
    src:url('font/Eulyoo1945-Regular.eot?#iefix') format('embedded-opentype'),
    url('font/Eulyoo1945-Regular.woff2') format('woff2'),
    url('font/Eulyoo1945-Regular.woff') format('woff'),
    url('font/Eulyoo1945-Regular.ttf') format('truetype');
}

*{
  font-family: 'Eulyoo1945';
}

/* 2. typography ----------------------*/

/*h1, h2*/
h3{
  font:
}

/* 3. instant--------------------------*/
.pre img{
  width: 100%;
}

.container{
  display: flex;
  height: 100%;
  flex-direction: row;
}
.box1{
  flex: 1;
  height: 10vh;
  background-color: red;
}

.box2{
  flex: 2;
  height: 10%;
  padding-top: 30px;
  background-color: blue;
}

.frame1 {
  padding: 30px;
}


/* 4. mobile --------------------------*/
@media (max-width: 700px) {
  .pre{
    display: none;
  }
  .text{
    display: block;
    color: black;
  }
}
